<% if (products) { %>
<div class="container cart-items-container">
  <h2 class="heading"><span>Your</span> cart</h2>
  <% products.forEach(product => { %>
  <div class="cart-item">
    <div class="content">
      <div class="img-frame">
        <img src="<%= product.item.cover %> " alt="cover" />
      </div>
      <div class="des">
        <h3><%= product.item.name %></h3>
        <div class="price"><strong>Total:</strong> $<%= product.price %></div>
      </div>
    </div>
    <div class="div">
      <label style="font-size: 2rem"
        ><strong>Quantity:</strong>
        <a href="/increase/<%= product.item._id %> "
          ><li class="fas fa-chevron-up"></li
        ></a>
        <input
          type="number"
          min="1"
          value="<%= product.qty %>"
          autocomplete="off"
          id="inputQty"
          disabled
        />
        <a href="/reduce/<%= product.item._id %>"
          ><li class="fas fa-chevron-down"></li
        ></a>
        <div></div>
      </label>
    </div>
    <div class="action">
      <a href="/remove/<%= product.item._id %> "
        ><span class="fas fa-times"></span
      ></a>
    </div>
  </div>
  <% }) %>
  <div class="total" style="font-size: 2rem">
    <strong>Subtotal:</strong> $<%= totalPrice %>
  </div>
  <!-- <a href="/order" id="checkout-btn" class="btn1">Checkout now</a> -->
  <form action="/order">
    <button type="submit" class="btn1">Checkout now</button>
  </form>  
</div>
<% } else { %>
<h2 class="text-center mt-5">Your cart is empty</h2>
<% } %>
