<div class="container detail">
    <div class="row">
        <div class="col-7 img">
            <img src="<%= product.cover %> " alt="">
        </div>
        <div class="col content">
            <form action="/products/<%= product._id %>/addCart" method="post">
                <h3 class="h3"> <%= product.name %> </h3>
                <p><span>Description:</span> <%= product.description %> </p>
                <div class="price">$<%= product.price %></div>
                <input type="number" value="1" name="qty">
                <button type="submit">Add to cart</button>
            </form>
        </div>
    </div>
    <div class="container" id="relavent">
        <h2>Recommend...</h2>
        <div class="relavent">
            <% recommendProducts.forEach(product => { %>
                <div class="box">
                    <a href="/products/<%= product._id %>/detail">
                      <div class="img-wrap">
                        <img src="<%= product.cover %> " alt="" />
                      </div>
                    </a>
                    <h3><%= product.name %></h3>
                    <div class="price">$<%= product.price %></div>
                    <a href="/add-to-cart/<%= product._id %> " class="btn1">add to cart</a>
                  </div>
                <% }) %>
        </div>
    </div>
    <div class="row cmt">
        <h2>Comments...</h2>
        <%- include ("../partials/messages"); %>
        <div class="col-12">
            <div class="comments">
                <div class="comment-box add-comment">
                    <span class="commenter-pic">
                        <img src="/images/user-default-icon.png" class="img-fluid">
                    </span>
                    <span class="commenter-name">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <input type="text" placeholder="Add a public comment" name="content">
						<% if (!user) { %>
							<input type="text" placeholder="Your name" name="userName">
						<% } %>
                        <button type="submit" class="btn btn-default addComment">Comment</button>
                        <button type="cancel" class="btn btn-default">Cancel</button>
                    </span>
                </div>
                <div id="comments" class="loadComments">
                    <div class="all-comment">
                    </div>
                </div>

            </div>
        </div>
        <!-- pagination -->
	</div>
	<div class="row pagination">
		<div class="col-md-12">
			<button id="load" type="button" class="btn btn-info" style="float: left" onclick="getNext()">Load more</button>
		</div>
	</div>
    </div>
</div>
<script type="text/javascript">
	var productId = $('input[name=productId]').val();

	let start = 0;
	const limit = 3;

	function getNext() {
		start = start + limit;
		$.ajax({
			url: "/api/product/comments/" + productId + "/" + start + "/" + limit,
			method: "GET",
			success: function(res) {
				renderComments(res.data);
			}
		})
	}


	function renderComments(comments) {
		if(comments.length > 0) {
			let  html = "";

			for (let i = 0; i < comments.length; i++) {
				const comment = comments[i];
				const time = timeSince(Date.parse(comment.createdAt));
				$('div.all-comment').append(
                "<div class='comment-box commented'>" +
                        "<span class='commenter-pic'>" +
                            "<img src='/images/user-default-icon.png' class='img-fluid'>" +
                        "</span>" +
                        "<span class='commenter-name'>" +
                            "<a href='#'>" + 
                                comment.userId.userName + 
                            "</a> <span class='comment-time'>" + time + " ago </span>" +
                        "</span>" +
                        "<p class='comment-txt more'>" + 
                            comment.content +
                        "</p>" +
                    "</div>"
              );
			}
		}
	}

	function timeSince(date) {

		var seconds = Math.floor((new Date() - date) / 1000);

		var interval = seconds / 31536000;

		if (interval > 1) {
		return Math.floor(interval) + " years";
		}
		interval = seconds / 2592000;
		if (interval > 1) {
		return Math.floor(interval) + " months";
		}
		interval = seconds / 86400;
		if (interval > 1) {
		return Math.floor(interval) + " days";
		}
		interval = seconds / 3600;
		if (interval > 1) {
		return Math.floor(interval) + " hours";
		}
		interval = seconds / 60;
		if (interval > 1) {
		return Math.floor(interval) + " minutes";
		}
		return Math.floor(seconds) + " seconds";
	}
    $(document).ready(function() {
    // alert('application started');
    getdata();

    $('.addComment').click(function (e) {
        e.preventDefault();
        var productId = $('input[name=productId]').val();
        var content = $('input[name=content]').val();
        var userName = $('input[name=userName]').val();
        $.ajax({
          url: '/api/product/addComment',
          method: 'post',
          dataType: 'json',
          data: { productId,
                content,
				userName
            },
          success: function (response) {
            if (response.msg == 'success') {
            //   alert('add comment successfully');
                getdata();
                $('input[name=content]').val('');
            } else {
              alert('some error occurred try again');
            }
          },
          error: function (response) {
			console.log(response)
            alert('You should sign in or input your name and email below to comment');
          },
        });
      });

    function getdata() {
	var productId = $('input[name=productId]').val();
	
    $.ajax({
      url: `/api/product/comments/${productId}/0/3`,
      method: 'get',
      dataType: 'json',
      success: function (response) {
        if (response.msg == 'success') {
        $('div.commented').remove(); //xoa dong cu
          if (
            response.data !== undefined ||
            response.data !== null ||
            response.data !== ''
          ) {
			  console.log(response.data)
            $('.all-comment').show();
            $.each(response.data, function (index, data) {
            const time = timeSince(Date.parse(data.createdAt));
			console.log(time);
			$('div.all-comment').append(
                "<div class='comment-box commented'>" +
                        "<span class='commenter-pic'>" +
                            "<img src='/images/user-default-icon.png' class='img-fluid'>" +
                        "</span>" +
                        "<span class='commenter-name'>" +
                            "<a href='#'>" + 
                                data.userId.userName + 
                            "</a> <span class='comment-time'>" + time + " ago </span>" +
                        "</span>" +
                        "<p class='comment-txt more'>" + 
                            data.content +
                        "</p>" +
                    "</div>"
              );
            });
          }
        }
      },
      error: function (response) {
        alert(response.error);
      },
    });
  }

  
})
</script>